<%= link_to(user_post_path(@user, post)) do %>

  <div class="post-container"> 
    <div class="post">
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
    </div>
    <div class="actions d-flex">
      <span>Comments: <%= post.comments_counter%></span>
      <span>Likes: <%= post.likes_counter%></span>
    </div>
  </div>

  
<% end %> 