<section class="show-user">
  <h1>Show all Posts of a user</h1>

  <% render 'users/user', user: @user %>

   <article class="user d-flex">
    <div class="img-container">
      <img src="<%= @user.photo %>" alt="User_Photo">
    </div>
    <div class="details d-flex">
      <h2 class="name"><%= @user.name %></h2>
      <span class="sub">Number of posts: <%= @user.posts_counter %></span>
    </div>
  </article>

  <% @posts.each do |post|%>
    <div class="post">
      <%= render post %>
      <% if can? :destroy, post %><%= button_to 'Delete Post', user_post_path(@user, post), method: :delete, class: 'delete btn btn-primary text-end' %><% end %>
    </div>
  <% end %>


  <div class="post-btn">
    <button>
      <%= link_to "back", user_path(@user)%>
    </button>
  </div>

  <div class="add-post-btn d-flex">
    <button>
      <%= link_to "Add Post", new_user_post_path(@user)%>
    </button>
  </div>

</section>