<h1>show posts details</h1>


<div>
  <%= render @user %>
</div>
<div class="post-details">
  <div class="single-post-details">
    <div class="title-details d-flex">
      <p><%= @post.title %> by <%= @user.name%></p>
      <div>
        <span>Comments: <%= @post.comments_counter%></span>
        <span>Likes: <%= @post.likes_counter%></span>
      </div>
    </div>
    <div>
      <%= @post.text %>
    </div>
  </div>

</div>